@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@import "base/_variables";

@import "base/_mixins";
@import "base/_resets";

@import "base/_typography";
@import "base/_forms";
@import "base/_buttons";
@import "base/_helpers";

@import "base/_grid";
// @import "../components/MobileMenu/animations";
@import "base/_loader";

.menu {
  font-weight: bolder;
  color: blue;
}

.active {
  color: red;
}
