//* this used as global but can't be pull into components styling *//
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
$base-font-color: green !default;
html {
  // font-size: 62.5%;
  box-sizing: border-box;

  //   @media (max-width: 1024px) {
  //     font-size: 50%;
  //   }

  //   @media (max-width: 767px) {
  //     font-size: 42.5%;
  //   }
}
body {
  @import url("https://fonts.googleapis.com/css?family=Raleway:200,400,700");
  font-family: "Raleway", sans-serif;
  color: #333;
}
.wrapper {
  max-width: 800px;
  margin: auto;
}
